.mainContainer {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding: 50px;
  font-family: "Monserrat";
  color: #212324;
}
.searchContainer,
.letterContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.searchContainer {
  align-items: center;
}

.letters {
  border-bottom: 2px solid #212324;
  padding: 3px 6px 3px 0;
  margin: 10px 0;
  font-weight: bold;
  font-size: 2em;
  color: #3b3e41;
}

.contactsList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lettersHidden {
  display: none;
}

.contact {
  margin-bottom: 3px;
  font-size: 1.5em;
}

.contactContainer {
  padding: 15px;
  margin: 20px;
  min-width: 300px;
  background-color: rgb(242, 238, 238);
}
