.mainContainer {
  margin: 40px auto;
  max-width: 800px;
  padding: 50px;
  /* box-shadow: 0 0 10px black; */

  font-family: "Monserrat";
  color: #fff;
}
.searchContainer,
.letterContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.searchContainer {
  align-items: center;
}

.add {
  border: 1px solid #f7882f;
  font-size: 20px;
  border-radius: 4px;
  padding: 5px;
  background-color: #f7882f;
}

.letters {
  border-bottom: 2px solid #dcc7aa;
  padding: 3px 6px 3px 0;
  margin: 10px 0;
  font-weight: bold;
  font-size: 2em;
}

.contactGroup {
  display: flex;
  flex-direction: column;
}

.lettersHidden {
  display: none;
}

.contact {
  margin-bottom: 3px;
  font-size: 1.5em;
}

.title {
  color: #f7882f;
  font-size: 2.5em;
}
