.mainContainer {
  margin: 0 auto;
  max-width: 800px;
  padding: 50px;
}
.searchContainer,
.letterContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.searchContainer {
  align-items: center;
}

.add {
  font-size: 40px;
}
.letters {
  background-color: #bebebe;
  padding: 3px 6px;
}
