.letterBlack,
.letterGray {
  display: flex;
  position: relative;
  font-weight: bold;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  transition: 0.5s;
  justify-content: center;
}

.letterGray {
  color: #8a9095;
}

.letter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  transform: scaleX(2);
  opacity: 0;
  transition: 0.5s;
}

.letter:hover::before {
  opacity: 1;
  transform: scaleX(1);
}
